/****** Script do comando SelectTopNRows de SSMS  ******/
SELECT TOP 1000 [BusinessEntityID]
	  ,AdventureWorks2014.dbo.UDF_NomeCompletoIdade(BusinessEntityID) AS NomeCompleto -- insercao da coluna
      ,[NationalIDNumber]
      ,[LoginID]
      ,[OrganizationNode]
      ,[OrganizationLevel]
      ,[JobTitle]
      ,[BirthDate]
      ,[MaritalStatus]
      ,[Gender]
      ,[HireDate]
      ,[SalariedFlag]
      ,[VacationHours]
      ,[SickLeaveHours]
      ,[CurrentFlag]
      ,[rowguid]
      ,[ModifiedDate]
  FROM [AdventureWorks2014].[HumanResources].[Employee]